NVIDIA_API_KEY_PARSE=xxxxx.xxxx
# NVIDIA_API_KEY_ANALYZE=example...
# MINIMAX_API_KEY=xxx.xxxx
GROQ_API_KEY_LATEX=xxxxx.xxxxxx
GROQ_API_KEY=xxxx.xxxxxx
GROQ_MODEL_STAGE2=openai/gpt-oss-120b
GROQ_MODEL_STAGE3=openai/gpt-oss-120b